<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>微语</title>
  <link rel="stylesheet" type="text/css" href="static/res/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="static/res/css/main.css">
  <!--加载meta IE兼容文件-->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="header">
  <div class="menu-btn">
    <div class="menu"></div>
  </div>
  <h1 class="logo">
    <a href="toindex">
      <span>MYBLOG</span>
      <img src="static/res/img/logo.png">
    </a>
  </h1>
  <div class="nav">
    <a href="toindex">文章</a>
    <a href="towhisper"  class="active">微语</a>
    <a href="toleacots">留言</a>
    <a href="toalbum">相册</a>
    <a href="toabout">关于</a>
  </div>
  <ul class="layui-nav header-down-nav">
    <li class="layui-nav-item"><a href="toindex">文章</a></li>
    <li class="layui-nav-item"><a href="towhisper"  class="active">微语</a></li>
    <li class="layui-nav-item"><a href="toleacots">留言</a></li>
    <li class="layui-nav-item"><a href="toalbum">相册</a></li>
    <li class="layui-nav-item"><a href="toabout">关于</a></li>
  </ul>
  <p class="welcome-text">
    欢迎来到<span class="name">smile liu</span>的私人博客~
  </p>
</div>
<div class="content whisper-content">
  <div class="cont">
    <div class="whisper-list" id="list">
    </div>
  </div>
  <div id="demo" style="text-align: center;"></div>
</div>

<div class="footer-wrap">
  <div class="footer w1000">
    <h4 style="color: #3f2863;font-size: 20px">素材来源：</h4>
    <div class="qrcode">
      <img src="static/res/img/erweima.jpg">
    </div>
    <div class="practice-mode">
      <img src="static/res/img/down_img.jpg">
      <div class="text">
        <h4 class="title">我的联系方式</h4>
        <p>QQ<span class="WeChat">1057720671</span></p>
        <p>邮箱<span class="email">smileliuliuliu@163.com</span></p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="static/res/layui/layui.js"></script>
<script type="text/javascript" src="static/res/js/util/jquery.js"></script>
<script type="text/javascript">
    layui.config({
        base: 'static/res/js/util/'
    }).use(['flow','laypage','form'],function(){
        laypage = layui.laypage,form = layui.form,flow = layui.flow;

        //加载所有日志
        flow.load({
            elem: '#list' //指定列表容器
            ,isAuto:true
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                $.ajax({
                    type: 'post',
                    url: '/selectDiary',
                    data:{'page':page},
                    success: function (data) {
                        layui.each(data.datas, function(index, item){
                            var imgs ='';
                            if (item.dUrl) {
                                var urls = item.dUrl.split(',');
                                layui.each(urls,function (index,item) {
                                    imgs += '<img style="width: 200px;height: 160px" layer-src="'+item+'" src="'+item+'">';
                                })
                            }
                            var html = '<div class="item-box">\n' +
                                '          <div class="item">\n' +
                                '            <div class="whisper-title">\n' +
                                '              <i class="layui-icon layui-icon-date"></i><span class="date">'+item.d_date+'</span>\n' +
                                '            </div>\n' +
                                '            <p class="text-cont">\n' +
                                '              '+item.dContent+'\n' +
                                '            </p>\n' +
                                '            <div class="img-box" id="img'+item.id+'">\n' +
                                ''+imgs+''+
                                '            </div>\n' +
                                '            <div class="op-list">\n' +
                                '              <p class="like"><i class="layui-icon layui-icon-praise" id="'+item.id+'"></i><span>'+item.dLikenum+'</span></p> \n' +
                                '              <p class="edit"><i class="layui-icon layui-icon-reply-fill"></i><span>'+item.comNum+'</span></p>\n' +
                                '              <p class="off"><span>展开</span><i class="layui-icon layui-icon-down" d_id="'+item.id+'"></i></p>\n' +
                                '            </div>\n' +
                                '          </div>\n' +
                                '          <div class="review-version layui-hide">\n' +
                                '              <div class="form">\n' +
                                '                <img src="static/res/img/header2.png">\n' +
                                '                <form class="layui-form" action="">\n' +
                                '                  <div class="layui-form-item layui-form-text">\n' +
                                '                    <div class="layui-input-block">\n' +
                                '                      <textarea name="desc" class="layui-textarea"></textarea>\n' +
                                '                    </div>\n' +
                                '                  </div>\n' +
                                '                  <div class="layui-form-item">\n' +
                                '                    <div class="layui-input-block" style="text-align: right;">\n' +
                                '                      <button class="layui-btn definite" lay-submit lay-filter="yes">发送</button>\n' +
                                '                    </div>\n' +
                                '                  </div>\n' +
                                '                </form>\n' +
                                '              </div>\n' +
                                '              <div class="list-cont">\n' +
                                '              </div>\n' +
                                '          </div>\n' +
                                '        </div>';


                            lis.push(html);

                        });
                        next(lis.join(''), page < data.code/5);
                        layui.each(data.datas, function(index, item){
                            layer.photos({
                                photos: '#img'+item.id
                                ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                            });
                        })

                    }
                })
            }
        });

        /*评论展开按钮*/
        $(document).on('click', '.off', function() {
            var off = $(this).attr('off');
            var chi = $(this).children('i');
            var text = $(this).children('span');
            var cont = $(this).parents('.item').siblings('.review-version');
            var count = $(this).siblings('.edit').children('span').text();
            var id = $(this).children('i').attr('d_id');
            if(off){
                $(text).text('展开');
                $(chi).attr('class','layui-icon layui-icon-down');
                $(this).attr('off','');
                $(cont).addClass('layui-hide');
            }else{
                $(text).text('收起');
                $(chi).attr('class','layui-icon layui-icon-up')
                $(this).attr('off','true')
                $(cont).removeClass('layui-hide')


                laypage.render({
                    elem: cont.children('.list-cont')
                    ,count: count
                    ,limit: 3
                    , curr: 1
                    ,jump:function (e) {
                        $.ajax({
                            type:'post',
                            url:'selectDiaComById',
                            dataType:'json',
                            data:{'limit':3,'curr':e.curr,'d_id':id},
                            success:function (datas) {
                                for (var i=datas.datas.length-1;i>=0;i--){
                                    var html =' <div class="cont">\n' +
                                        '                  <div class="img">\n' +
                                        '                    <img src="static/res/img/header.png" alt="">\n' +
                                        '                  </div>\n' +
                                        '                  <div class="text">\n' +
                                        '                    <p class="tit"><span class="name">'+datas.datas[i].cIp+'</span><span class="data">'+datas.datas[i].cDate+'</span></p>\n' +
                                        '                    <p class="ct">'+datas.datas[i].cContent+'</p>\n' +
                                        '                  </div>\n' +
                                        '                </div>';
                                    cont.children('.list-cont').prepend(html);
                                }
                            }

                        })
                    }
                });


            }
        });

        /*点赞*/
        $(document).on('click','.op-list .like',function(){
            var oSpan =  $(this).children('span');
            var num = parseInt($(oSpan).text())
            var off = $(this).attr('off')
            var id = $(this).children('i').attr('id');
            var me = $(this);
            $.ajax({
                type:'post',
                url:'/updateLikeN',
                data:{'off':off,'num':num,'id':id},
                success:function (data) {
                    if (data.code==200){
                        if(off){
                            me.removeClass('active');
                            $(oSpan).text(num-1)
                            me.attr('off','')
                        }else{
                            me.addClass('active');
                            $(oSpan).text(num+1)
                            me.attr('off','true')
                        }
                    }else {
                        layer.msg(data.msg);
                    }
                }
            });
        })


        /*评论模块*/
        form.on('submit(yes)', function(){
            var cContent = $(this).parents('.layui-form-item').prev().children('div').children('textarea').val();
            var dId = $(this).parents('.review-version').prev().find('.op-list').find('.like').children('i').attr('id');
            var cont = $(this).parents('.review-version').find('.list-cont');
            var text = $(this).parents('.layui-form-item').prev().find('.layui-textarea');
            var comNum = $(this).parents('.review-version').prev().find('.op-list').find('.edit').children('span');
            if (cContent.replace(/\s+/g, "")!=''&&cContent!=null){
                $.ajax({
                    type:'post',
                    url:'/insertToArt',
                    data:{'dId':dId,'cContent':cContent,'cType':'1'},
                    success:function (data) {
                        var html =' <div class="cont">\n' +
                            '                  <div class="img">\n' +
                            '                    <img src="static/res/img/header.png" alt="">\n' +
                            '                  </div>\n' +
                            '                  <div class="text">\n' +
                            '                    <p class="tit"><span class="name">'+data.data.cIp+'</span><span class="data">'+data.data.cDate+'</span></p>\n' +
                            '                    <p class="ct">'+cContent+'</p>\n' +
                            '                  </div>\n' +
                            '                </div>';
                        if (data.code==200){
                            cont.prepend(html);
                            comNum.text(parseInt(comNum.text())+1);
                            text.val('');
                        }else{
                            layer.msg(data.msg)
                        }
                    }
                })
            }else {
                layer.msg("客官好歹想几句话再发吧！")
            }
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    })
</script>
</body>
</html>