<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.dao.RecordMapper" >
  <resultMap id="BaseResultMap" type="com.liu.entity.Record" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="r_ip" property="rIp" jdbcType="VARCHAR" />
    <result column="r_date" property="rDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liu.entity.Record" >
    insert into record (id, r_ip, r_date
      )
    values (#{id,jdbcType=INTEGER}, #{rIp,jdbcType=VARCHAR}, #{rDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.liu.entity.Record" >
    update record
    set r_ip = #{rIp,jdbcType=VARCHAR},
      r_date = #{rDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, r_ip, r_date
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, r_ip, r_date
    from record
  </select>
</mapper>